.ss {
	display: block;
	width: 100%;
	height: 26px;
	padding: 0;
	overflow: hidden;
	cursor: pointer;
	border: 1px solid #aaa;
	text-align: left;
	white-space: nowrap;
	line-height: 26px;
	color: #444;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #fff;
}