.example {
    margin-left:auto;
    margin-right:auto;
    border: 1px dashed #634f36;
    background: #e1edf0;
    font-family: "Courier New", Courier, monospace;
    padding: 7px;
    white-space: pre;
}